// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower
@import "variables";
@import "helpers";
@import "layout";
@import "paperRipple";
@import "spinner";
// Views
@import "view/collection";
@import "view/exhibition";
@import "view/home";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 70px;
}

.container-fluid {
  max-width: 1000px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

#navigation {
  align-items: center;
  display: flex;
  font-size: 1.1rem;

  .hamburger {
    order: 3;
    line-height: 1;
    z-index: 1;
  }

  .logo {
    font-weight: bold;
    margin-right: auto;
    padding: 15px;
  }

  .menuList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .menuList-item {
      border: 1px solid transparent;

      a {
        display: block;
        padding: 12px;
        color: $colorSubtle;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .menu {
      background-color: white;
      box-shadow: -2px 0 9px rgba(0, 0, 0, .15);
      height: 100%;
      padding-left: 15px;
      position: fixed;
      right: 0;
      top: 0;
      transform: translateX(110%);
      transition: transform 200ms;
      width: 240px;

      html.offCanvas & {
        transform: translateX(0);
      }

      .menuList {
        margin-top: 70px;
        flex-direction: column;

        .menuList-item {
          &.active {
            border-left-color: $colorSubtle;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    > .logo {
      margin-right: 40px;
    }

    .hamburger {
      display: none;
    }

    .menu {
      position: static;

      .menuList-item {
        &.active {
          border-top-color: $colorSubtle;
        }
      }
    }
  }
}

#content {
  > h1 {
    margin: 0 15px 10px;
    font-size: .9em;
    color: $colorSubtle;
  }
}
