// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
@import "bower_components/slick-carousel/slick/slick.scss";
@import "bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower
@import "variables";
@import "helpers";
@import "layout";
@import "paperRipple";
@import "spinner";
// Views
@import "view/atelier";
@import "view/biography";
@import "view/collection";
@import "view/contact";
@import "view/events";
@import "view/exhibition";
@import "view/home";
@import "view/navigation";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

img {
  max-width: 100%;
}

body {
  padding-top: 70px;

  &.page-loading {
    #content {
      opacity: 0;
      visibility: hidden;
      transition: none;
    }
  }
}

#content {
  transition: 200ms ease-out;

  > h1 {
    margin-bottom: 10px;
    padding: 0 15px;
    font-size: .9em;
    color: $colorSubtle;
  }
}

.container-fluid {
  max-width: 950px;
  padding-left: 0;
  padding-right: 0;
}

.content-container {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  position: fixed;
  transition: box-shadow 200ms;
  z-index: 10;

  &.header-shadow {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  }
}
