@charset "UTF-8";

/**
 *  This file\code is part of Paper UI project.
 *
 *  Paper UI - is a modern front-end framework based on Material Design by Google
 *  https://github.com/virtyaluk/paper-ui
 *
 *  Copyright (c) 2015 Bohdan Shtepan
 *  http://modern-dev.com/
 *
 *  Licensed under the MIT license.
*/

.paper-ripple {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    overflow: hidden;
    pointer-events: none;
}

.paper-ripple .paper-ripple__background,
.paper-ripple .paper-ripple__waves,
.paper-ripple .paper-ripple__wave-container,
.paper-ripple .paper-ripple__wave {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.paper-ripple .paper-ripple__background,
.paper-ripple .paper-ripple__wave {
    opacity: 0;
}

.paper-ripple .paper-ripple__waves,
.paper-ripple .paper-ripple__wave {
    overflow: hidden;
}

.paper-ripple .paper-ripple__wave-container,
.paper-ripple .paper-ripple__wave {
    border-radius: 50%;
}

.paper-ripple .paper-ripple__background {
    will-change: opacity, background-color;
}

.paper-ripple .paper-ripple__wave {
    will-change: opacity, transform;
}

.paper-ripple .paper-ripple__wave-container {
    will-change: transform;
}

.paper-ripple--round .paper-ripple__background,
.paper-ripple--round .paper-ripple__waves {
    border-radius: 50%;
}

.paper-ripple--round .paper-ripple__wave-container {
    overflow: hidden;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
