<h1>Home</h1>

<div class="wallpaper">
  <img class="wallpaper-image" data-src="{{ image }}" alt="Background Image" style="background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wgARCAAGAAYDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAT/xAAVAQEBAAAAAAAAAAAAAAAAAAAEBf/aAAwDAQACEAMQAAABkB5v/8QAFhABAQEAAAAAAAAAAAAAAAAAAwAU/9oACAEBAAEFAjDRf//EABcRAAMBAAAAAAAAAAAAAAAAAAABAiL/2gAIAQMBAT8BtaP/xAAWEQADAAAAAAAAAAAAAAAAAAAAATH/2gAIAQIBAT8BUP/EABkQAAIDAQAAAAAAAAAAAAAAAAESAAJBUf/aAAgBAQAGPwJjYrg5P//EABoQAAAHAAAAAAAAAAAAAAAAAAABESFBUWH/2gAIAQEAAT8he0/QtQP/2gAMAwEAAgADAAAAEAf/xAAWEQEBAQAAAAAAAAAAAAAAAAABABH/2gAIAQMBAT8QJWl//8QAFxEBAAMAAAAAAAAAAAAAAAAAAQAhkf/aAAgBAgEBPxBpRdZ//8QAFxABAQEBAAAAAAAAAAAAAAAAASExQf/aAAgBAQABPxBifgoAEBhbvDef/9k=')">
</div>

<div class="welcome">
  <div class="container-fluid">
    <div class="content-container">
      <h1>{{ description }}</h1>
      <div>
        <a class="paperRipple btn btn-lg btn-home" href="#malerei">Zur Galerie</a>
      </div>
    </div>
  </div>
</div>


